@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes btnHoverOnce {
  0% { background-color: #000000; transform: scale(1); }
  50% { background-color: #111827; transform: scale(1.02); }
  100% { background-color: #000000; transform: scale(1); }
}
